<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <p>Title: <%= book.title %></p>
    <p>Author: <%= book.author %></p>
    <p>Price: <%= book.price %></p>
    <p>Published Date: <%= book.published_date %></p>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
